@charset "UTF-8";

section.boardSection {
    margin-top: 30px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.boardContent {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
}

.boardContent-head {
    border-bottom: 1px solid black;
}

.head-content {
    display: flex;
    justify-content: space-between;
}

nav.board-nav {
    height: 100%;
}

ul.board-ul {
    padding: 10px;
    margin: 0;
    display: flex;
}

li.board-li-category {
    list-style: none;
    margin-right: 45px;
}

button.boardWriteBtn {
    background: #ee7843;
    border: 1px solid #ee7843;
    padding: 5px 30px;
    margin: 10px;
    float: right;
    border-radius: 10px;
}

.boardWritediv {
    width: 100%;
    height: 60px;
}

li.boardFormItem {
    list-style: none;
    display: flex;
}

a.boardCategoryContentTitle {
    font-weight: bold;
    font-size: 18px;
}

p.boardCategoryContentIntro {
    font-size: 15px;
}

.boardCategoryWriteCount {
    display: flex;
    align-items: center;
}

ul.boardFormList {
    display: grid;
    grid-template-columns: calc(120px + var(--forumCardBorderWidth)) auto auto 22% max-content;
}

.boardWrite {
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background: none;
    color: white;
}