@charset "UTF-8";

section#myPageBoardList {
    min-height: 600px;
    padding-top: 200px;
    background: #fff;
}

h1 {
    color: black;
    text-align: center;
}

.myBoardListTable table {
    width: 85%;
    float: right;
    margin: 40px;
}

th.ck {
    width: 20px;
}