@charset "UTF-8";

section#myPageBoardList {
    min-height: 600px;
    padding-top: 200px;
    background: #fff;
}

h1 {
    color: black;
    text-align: center;
}

.myBoardListTable table {
    width: 85%;
    float: right;
    margin: 40px;
}

th.ck {
    width: 80px;
}

.title a {
    text-align: left;
    float: left;
    width: auto;
}

.title i {
	float: left;
}

.title img {
    width: 15px;
    height: 15px;
    margin: 6px;
    float: left;
}