@charset "UTF-8";

button#add-newBoard-button {
	color: white;
	padding: 4px 25px;
	border-radius: 5px;
	border: none;
	float: right;
}

.head-div {
	width: 100%;
	height: max-content;
	border-bottom: 1px solid #d8dce5;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 7px;
}

.side-body {
	height: 85%;
	border-right: 1px solid #d8dce5;
	display: inline-block;
	width: 220px;
}

.head-div h2 {
	display: inline-block;
	font-weight: bold;
	margin: 0;
}

.side-div-title {
	padding: 20px 10px 15px 20px;
	border-bottom: 1px solid #d8dce5;
}

.side-div-title h6 {
	display: inline-block;
	margin-right: 48px;
	margin-bottom: 0;
}

h1.h3.mb-4.text-gray-800 {
	display: inline;
}

.group {
	overflow: auto;
}

.side-boardItem {
	width: 100%;
	cursor: pointer;
	margin: 5px;
	border-radius: 5px;
	padding: 0;
}

.board-name {
	display: inline-block;
	width: 83%;
	padding: 10px 15px 10px 30px;
}

.board-body {
	display: inline;
	float: right;
	width: 86%;
}

div#board-title {
	height: 66px;
	padding: 20px;
	border-bottom: 1px solid #d8dce5;
}

div#board-title h5 {
	font-weight: bold;
	color: black;
	display: inline-block;
}

button#board-write-button {
	float: right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

input[type="checkbox"].board-checkbox {
	width: 20px;
	height: 20px;
	background: url("../img/checkbox_off.svg") no-repeat center center;
	background: 100%;
}

input[type="checkbox"]:checked.board-checkbox {
	width: 20px;
	height: 20px;
	background: url("../img/checkbox_on.svg") no-repeat center center;
}

div#board-search-div {
	display: flex;
	justify-content: flex-end;
	padding: 18px 27px 5px 20px;
}

input#board-search-area {
	flex: none;
	width: 300px;
}

th.board-title {
    width: 60%;
    text-align: center;
}

select#board-search-select {
    margin-right: 30px;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid #d8dce5;
    border-radius: 6px;
}

.board-side-boardItem {
    width: 200px;
    cursor: pointer;
}