@charset "UTF-8";

h2#boardCreate-title {
	font-weight: bold;
	display: inline-block;
}

.boardCreate-head {
	border-bottom: 1px solid #d8dce5;
	padding: 0px 20px 10px 32px;
}

.boardCreate-head input {
	border: 0;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	color: white;
}

.board-head-button {
	width: max-content;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

input#save-boardCreate {
	margin-left: 10px;
}

.boardCreate-body {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

div.boardCreate-setting {
	border: 1px solid #e1e1e1;
	background: white;
	border-radius: 5px;
	width: 60%;
	margin-top: 30px;
}

div.boardCreate-setting-head {
	border-bottom: 1px solid #e1e1e1;
}

div.boardCreate-setting-head h3 {
	display: inline-block;
	font-weight: bold;
	color: black;
	font-size: 17px;
	margin: 13px 73px 10px 20px;
}

span.setting-head {
	padding-left: 50px;
}

.boardCreate-body dd {
	margin-left: 190px;
	padding: 10px 22px 10px 0;
}

.boardCreate-setting-body {
	padding: 20px 30px;
}

div.boardCreate-setting-body dt {
	font-size: 14px;
	color: black;
	float: left;
	width: 190px;
	padding: 17px 0;
}

div.input_group v2 input {
	width: 100%;
}

input#board_name {
	width: calc(100% - 20px);
	vertical-align: middle;
	outline-width: 0;
	border: 0;
	height: 38px;
	text-align: left;
}

.input_group.v2 {
	border: 1px solid #d7dde4;
	border-radius: 3px;	
	width: 100%;
	display: inline-block;
	text-align: center;
}

textarea#board_desc {
    vertical-align: middle;
    border: 0;
    outline-width: 0;
    overflow: visible;
    height: 80px;
    width: 98%;
    resize: none;
    padding: 5px 5px;
}

.i_tooltip {
	background: url('../img/i_help.svg') no-repeat center center;
	width: 15px;
	height: 15px;
	background-size: 15px;
	display: inline-block;
	opacity: 1;
	margin-left: 3px;
}

.checkbox_group {
    display: inline-block;
}

.checkbox_group input {
    display: none;
}

.checkbox_group > .use_off {
    border-right: 1px solid #eb5d1e;
    border-radius: 3px 0 0 3px;
}

.checkbox_group > .use_on {
    border: 1px solid #eb5d1e;
    border-radius: 0 3px 3px 0;
}

.checkbox_group > span.on {
    background: #eb5d1e;
    color: white;
}

.checkbox_group > span {
    min-width: 120px;
    display: inline-block;
    padding: 6px 0;
    float: left;
    cursor: pointer;
    border: 1px solid #eb5d1e;
    text-align: center;    
}