@charset "UTF-8";

/*bookMain.jsp*/
#bookMain{
	width: 100%;
}

#topImg{
	width: 100%;
	margin: 0;
	padding: 0;
}

#topImg img{
	width: 100%;
	height: 500px;
}

.pdList{
	margin-top: 50px;
	width: 1300px;
	
}
.pdList>a{
	text-align: left;
	font-weight:bold;
	font-size:26px;
	color:#222;
	text-decoration: none;
}
.pdList>a span{
	font-size:38px;
	vertical-align:text-bottom;
}
.pdList ul{
	width: 1300px;
	text-align: center;
	display: flex;
    justify-content: space-around;
    list-style:none;
}

.pdList ul li img{
	width: 150px;
	height: 250px;
}

#bookMain .container {
	margin: 0 auto;
	width: 100%;
}

#content {
	    width: 1420px;
	
	margin-left: 215px;
	/*color: darkgrey;*/
}

#sidebar {
	
	float: left;
	color: #ffbdbd;
	will-change: min-height;
}

#sidebar .sidebar__inner {
	position: relative;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.flex{display:flex; justify-content:space-between;}

.flex .bestbook{background:#efefef; padding:40px 40px; width:70%;}


.flex .bestbook>img{width:40%;}
.flex .bestbook .textbox{color:#222; width:48%;}
.flex .bestbook .textbox p:nth-child(1){font-size:30px; font-weight:bold; padding:30px 0;}
.flex .bestbook .textbox p:nth-child(2){font-size:24px; padding-bottom:30px;}
.flex .bestbook .textbox p:nth-child(3){font-size:20px; color:red; font-weight:bold; padding-bottom:50px;}
.flex .bestbook .textbox button{width:100%; border:3px solid #eb5d1e; background:#fff; color:#eb5d1e; font-weight:bold; padding:10px; font-size:20px; border-radius:5px;}

.flex .booksearch {border:1px #efefef solid; padding:20px; border-left:none;}
.flex .booksearch>img{width:100%; margin-top: 30px; margin-bottom:85px;}
.flex .booksearch input{border-right:none; height:50px; border:#eb5d1e 1px solid; margin-left:20px; width:85%;}
.flex .booksearch button{height:50px; vertical-align:top; color:white; background:#eb5d1e; border:0;}
.flex .booksearch span{font-size:50px;}
.flex .booksearch.flex{border:0;}
ul,li{list-style:none;}
/* #bookSellMainImg{
	width:100%;
	height: 500px;
	margin: 0;
	padding: 0;
	margin-bottom: 200px;
	
} */
/* #bookSellMainImg img{
	width:1920px;
	height: 600px;
	margin: 0;
	padding: 0;
} */

.bookslide{width:100%; height:600px; overflow:hidden; position:relative;}
.bookslide .gallery{width:400%; display:flex; position:absolute; top:0; left:0%;}
.bookslide .gallery li{height:600px; width:100%; }
.bookslide .gallery li img{width:100%; height:100%;}
.container .clearfix{
	margin-left: 0;
	margin-right: 0;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
}

#sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-weight:bold;
  text-decoration: none;
}

/* Change the link color on hover */
#sidebar li a:hover {
  background-color: #555;
  color: white;
}

.sideBarBestBook{
	position: absolute;
    right: 0;
    top: 760px;
    margin-right: 10px;
    text-align: center;
}

.sideBarBestBook #sidebar li img{
	width: 80px;
	vertical-align: middle;
}

.sideBarBestBook #sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #efefef;
}

.sideBarBestBook #sidebar li  {
	display: block;
	color: #ee7843;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
.sideBarBestBook li a:hover {
	background-color: #555;
	color: white;
}
/**/

/*bookDetail.jsp*/

#bookMain {
	width: 100%;
}

ul, li {
	list-style: none;
}

#topImg {
	width: 100%;
	margin: 0;
	padding: 0;
}

#topImg img {
	width: 100%;
	height: 500px;
}

#bookMain .container {
	margin: 0 auto;
	width: 100%;
}

#content {
	width: 1420px;
	margin-left: 215px;
	/* color: darkgrey; */
}

#sidebar {
	float: left;
	color: #ffbdbd;
	will-change: min-height;
}

#sidebar .sidebar__inner {
	position: relative;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

#bookSellMainImg {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;

}

#bookSellMainImg img {
	width: 1920px;
	height: 600px;
	margin: 0;
	padding: 0;
}

.container .clearfix {
	margin-left: 0;
	margin-right: 0;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #efefef;
}

#sidebar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
#sidebar li a:hover {
	background-color: #555;
	color: white;
}

/* 디테일 css */
.flex {
	display: flex;
	justify-content: space-between;
}

	
.pdList {
	margin: 0 auto;
	padding: 20px 0;

}
.pdList.flex{	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;}
.pdList .pdimg {
	width: 40%;
	display: flex;
	align-items: center;
	background: #efefef;
	justify-content: center;
	padding: 20px 0;
}

.pdList .pdimg img {
	width: 50%;
	border: 1px #aaa solid;
}

.pdList .textbox {
	width: 55%;
}

.pdList h1 {
	text-align: center;
}

.pdList ul {
	width: 1300px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.pdList ul li img {
	width: 150px;
	height: 250px;
}

.pdList .textbox tr {
	height: 35px;
	font-size: 18px;
}

.pdList .textbox tr>td {
	text-align: left;
	color: #333;
}

.pdList .textbox tr>td:nth-child(1) {
	
}

.pdList .textbox h1 {
	font-size: 30px;
	font-weight: bold;
	color: #333;
	padding: 20px 0 50px 0;
}

.pdList .textbox td.flex {
	justify-content: flex-start;
}

.pdList .textbox td.flex button {
	border: 0;
	background: #ee7843;
	color: white;
}

.pdList .textbox td.flex button span {
	padding-top: 5px;
}

.pdList .textbox td.flex>p {
	padding: 5px 15px;
	font-size: 18px;
	border: 1px #333 solid;
	margin: 0 5px;
}

.fixbox {
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-shadow: 0px -5px 17px rgba(0, 0, 0, 0.1); padding : 20px 300px;
	background: white;
	z-index: 100;
	align-items: center;
	padding: 20px 300px;
}

.fixbox ul {
	margin-bottom: 0;
	align-items: center;
}

.fixbox ul li {
	margin: 0 5px;
	font-size: 20px;
}

.fixbox .left li:last-child {
	margin: 0;
	font-size: 26px;
}

.fixbox .left li:nth-child(2) {
	font-size: 26px;
	margin-right: 0;
	font-weight: bold;
}

.fixbox .right .flex button {
	border: 0;
	background: #ee7843;
	color: white;
	border-radius: 5px 0px 0px 5px;
	padding: 5px 10px;
}

.fixbox .right .flex button:last-child {
	border-radius: 0px 5px 5px 0px;
}

.fixbox .right .flex button span {
	padding-top: 5px;
}

.fixbox .right .flex>p {
	padding: 10px 20px;
	font-size: 18px;
	border: 2px #ee7843 solid;
	margin: 0px;
}

.fixbox .right li:nth-child(2) {
	padding: 10px 15px;
	border: #ee7843 2px solid;
	border-radius: 5px;
}

.fixbox .right li:nth-child(3) {
	padding: 10px 15px;
	background: #ee7843;
	border-radius: 5px;
	color: white;
}

/* 상세정보 */
.detail_tbox {
	padding: 0;
}

.detail_tbox .tab_menu {
	border-bottom: #ee7843 2px solid;
	margin-bottom: 30px;
}

.detail_tbox .tab_menu h4{
	color: #333;
	font-weight: bold;
}

.detail_tbox .tab_menu ul.flex {
	margin-bottom: 0 !important;
}

.detail_tbox .tab_menu ul.flex li.on {
	background: #ee7843;
	margin-right: 5px;
	border-radius: 5px 5px 0px 0px;
}

.detail_tbox .tab_menu ul.flex li.on a {
	background: #ee7843;
	color: white;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
	width: 150px;
	text-align: center;
	display: block;
}

.detail_tbox .tab_menu ul.flex li.off {
	border: 2px #ee7843 solid;
	margin-right: 5px;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}

.detail_tbox .tab_menu ul.flex li.off a {
	color: #ee7843;
	padding: 10px 20px;
	width: 150px;
	display: block;
	text-align: center;
}

.detail_tbox .tab_menu ~ul li {
	list-style: inside;
	padding-left: 20px;
	line-height: 28px;
}

.detail_tbox .tab_menu ~table td {
	border: 1px solid #666;
	border-collapse:collapse;
}

.sideBarBestBook2{
	position: fixed;
    right: 0;
    top: 140px;
    margin-right: 10px;
    text-align: center;
}

.sideBarBestBook2 #sidebar li img{
	width: 80px;
	vertical-align: middle;
}

.sideBarBestBook2 #sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #efefef;
}

.sideBarBestBook2 #sidebar li  {
	display: block;
	color: #ee7843;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
.sideBarBestBook2 li a:hover {
	background-color: #555;
	color: white;
}
.highlight{color:blue;}

#q{ width:100%; border-bottom:2px #ee7843 solid; background:white; position:fixed; top:75px; left:0px; display:none; z-index:999;}
#q .tab_menu ul.flex li.on {
	background: #ee7843;
	margin-right: 5px;
	border-radius: 5px 5px 0px 0px;
	color:white;
}

#q .tab_menu ul.flex li.on a {
	background: #ee7843;
	color: white;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
	width: 150px;
	text-align: center;
	display: block;
}

#q .tab_menu ul.flex li.off {
	border: 2px #ee7843 solid;
	margin-right: 5px;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}

#q .tab_menu ul.flex li.off a {
	color: #ee7843;
	padding: 10px 20px;
	width: 150px;
	display: block;
	text-align: center;
}

/**/

/*bookList1.jsp*/
#sidebar {
	float: left;
	color: #ffbdbd;
	will-change: min-height;
}

#sidebar .sidebar__inner {
	position: relative;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
}

#sidebar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
#sidebar li a:hover {
	background-color: #555;
	color: white;
}


/* #bookSellMainImg{
	width:100%;
	height: 500px;
	margin: 0;
	padding: 0;
	margin-bottom: 200px;
	
}
#bookSellMainImg img{
	width:1920px;
	height: 600px;
	margin: 0;
	padding: 0;
} */
.bookslide {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.bookslide .gallery {
	width: 400%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0%;
}

.bookslide .gallery li {
	height: 600px;
	width: 100%;
}

.bookslide .gallery li img {
	width: 100%;
	height: 100%;
}
/* 책 리스트 */
ul, li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	justify-content: space-between;
}

#section {
	width: 1420px;
	border-top: 2px #ee7843 solid;
	border-bottom: 2px #ee7843 solid;
	padding: 30px 0;
	margin: 30px 0 0 215px;
}
#section #content{margin-left:0;}
.booklist li:first-child {
	border-top: 1px #aaa solid;
}

.booklist li {
	border-bottom: 1px #aaa solid;
	padding: 30px 30px;
	align-items: center;
}

.booklist li .title {
	padding-left: 30px;
	align-items: center;
}

.booklist li .title>a {
	border: 1px #eee solid;
}

.booklist li .title div {
	padding-left: 30px;
}

.booklist li .title div .box {
	background: #ee7843;
	color: white;
	padding: 5px;
	display: inline;
}

.booklist li .title div p:not(.box) {
	font-weight: bold;
	font-size: 20px;
	color: #666;

}
.booklist li .title div p:nth-of-type(3):not(.box){font-size: 16px;}
.booklist li .title div p:not(.box) span {
	color: darkslateblue;
}

.booklist li .title div a {
	display: block;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}

.booklist li .btn a {
	display: block;
	padding: 15px;
	border-radius: 5px;
	background: #666;
	color: white;
}

.booklist li .btn a:nth-child(2) {
	background: #ee7843;
	margin-top: 5px;
}
/**/