@charset "UTF-8";

calendar {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

.greenF{
	color:forestgreen;
}
.blueF{
	color: darkblue;
}
.redF{
	color:red;
}

.align-center{
	text-align:center;
}

.align-right{
	text-align:right;
}

.align-left{
	text-align:left;
}

.list-group {display: flex; max-width: 1100px; margin:0 auto;}
.list-group>li{width:33.33%; padding: 25px 20px;}
.list-group>li dl{    text-align: center; display: flex; justify-content: space-between; align-items: center; height: 100%; font-size: 1vw;
}
.list-group>li dl dd{margin-bottom:0;}


 #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .fc .fc-button-primary {
    background-color:#eb5d1e;
    border-color:#eb5d1e;
	}
	
	.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color:#eb5d1e;
    border-color:#eb5d1e;
	}
	
	.fc .fc-button-primary:hover {
   		background-color:#ff9800;
    	border-color:#ff9800;
	}
	
	.fc .fc-button-primary:disabled {
   		background-color:#ff9800;
    	border-color:#ff9800;
	}
	
	:root {
	--fc-today-bg-color:#eb5d1e;
	}
	
	#modalTable th {
		text-align: left;
		padding-left: 30px;
		border-right: 1px solid #eeeeee;
		background: #f8f9fa;
	}
	#modalTable td {
		padding-left: 30px;
		text-align: right;
		padding-right: 30px;
	}
	
	#ex1{
		padding: 0px;
		width: 500px;
		height: 450px;
	}
	#modalLabel{
		margin-left: 170px;
		margin-bottom: -7px;
		color: white;
	}