@charset "UTF-8";

@font-face {
	font-family: "Pretendard";
	src: url("../assets/font/Pretendard-Medium.ttf") format("truetype"),
		url("../assets/font/Pretendard-Medium.otf") format("opentype");
}

.inner1200 {position:relative; width:1400px; margin:0 auto; margin-top:50px;}

/* 메인 페이지 */
#education-main {
	background-image: url("../../images/education/education_main.jpg");
	background-size: 100%;
	background-position:top;
	background-repeat: no-repeat;
	background-attachment: scroll;
/*	background-attachment: fixed;*/
	margin:0 auto;
	width: 100%;
	height: 675px;
}

#education-main pre {
    display: block;
    font-size: 180%;
    color: #3a3b45;
    padding-left: 158px;
    position: absolute;
    top: 430px;
    font-weight: bold;
    font-family: "Pretendard";
}

/* educationInfo */
.education-info-main {
	font-family: "Pretendard";
	height: 100%;
	padding-top: 60px;
	padding-bottom: 0;
}

.section-info1 {
	padding:30px 0;
	overflow: hidden;
}

.inner1200 h2 {
    font-family: "Pretendard";
	font-weight: bold;	
	font-size: 300%;
	text-align: center;
}

.info1-space {
	padding: 40px 10px;
	justify-content: space-between;
	display: flex;
    align-items: center;
    box-sizing: border-box;
}

.info1-space div {
	width: 310px;
    height: 360px;
    margin: 0 auto;
    padding: 60px 0;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 25px 40px -15px rgba(0,0,0,.1);
}

.info1-space h6 {
	color: #eb5d1e;
	font-weight: bold;
}


.info1-space div h3 {
	margin: 18px 0;
    font-weight: 700;
    font-size: 28px;
    display: block;
}

.info2-space {
	padding: 40px 10px;
	justify-content: space-between;
	display: flex;
    align-items: center;
    box-sizing: border-box;
}

div.tea1 {
	width: 250px;
    height: 320px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background-image: url("../../images/education/na.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.tea2 {
	width: 250px;
    height: 320px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background-image: url("../../images/education/min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.tea3 {
	width: 250px;
    height: 320px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background-image: url("../../images/education/mingi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.tea4 {
	width: 250px;
    height: 320px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background-image: url("../../images/education/yong.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.tea5 {
	width: 250px;
    height: 320px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background-image: url("../../images/education/jun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* 관리자 페이지 */

input[type=checkbox] {
  accent-color: #eb5d1e;
}

button#education-edit-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

button#education-delete-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

.education-button {
	background-color: #eb5d1e;
    background-size: cover;
}

button#applicant-edit-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

button#applicant-delete-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

.applicant-button {
	background-color: #eb5d1e;
    background-size: cover;
}

button#location-edit-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

button#location-delete-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

.location-button {
	background-color: #eb5d1e;
    background-size: cover;
}

button#teacher-edit-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

button#teacher-delete-button {
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}

.teacher-button {
	background-color: #eb5d1e;
    background-size: cover;
}

button#add-edu-button{
	font-weight: bold;
	background-color: #eb5d1e;
	float:  right;
	border: 0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}


div#edu-search-div {
    display: flex;
    justify-content: space-between;
    padding: 18px 27px 5px 20px;
}

input#board-search-area {
	flex: none;
    width: 250px;
}

select#edu-search-select {
	font-size: 16px;
    margin-right: 20px;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid #d8dce5;
    border-radius: 6px;
    margin-left: 1095px;
}

button#button-addon2 {
    width: 75px;
    height: 38px;
}


/* educationWrite */
.education-write-head-button {
	width: max-content;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.educationWrite-head input {
	border: 0;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	color: white;
}

.educationWrite-head {
	border-bottom: 1px solid #d8dce5;
	padding: 0px 20px 10px 32px;
}

h2#educationCreate-title {
	font-weight: bold;
	display: inline-block;
}

input#save-educationWrite {
	margin-left: 10px;
	background: #eb5d1e;
}

.educationWrite-body {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

div.educationWrite-setting {
	border: 1px solid #e1e1e1;
	background: white;
	border-radius: 5px;
	width: 60%;
	margin-top: 30px;
}

div.educationWrite-setting-head {
	border-bottom: 1px solid #e1e1e1;
}

div.educationWrite-setting-head h3 {
	display: inline-block;
	font-weight: bold;
	color: black;
	font-size: 17px;
	margin: 13px 73px 10px 20px;
}

span.setting-head {
	padding-left: 50px;
}

.educationWrite-setting-body {
	padding: 20px 30px;
}

.educationWrite-body dd {
	margin-left: 190px;
	padding: 10px 22px 10px 0;
}

div.educationWrite-setting-body dt {
	font-size: 14px;
	color: black;
	float: left;
	width: 190px;
	padding: 17px 0;
}

div.input_group v2 input {
	width: 100%;
}

.input_group.v2 {
	border: 1px solid #d7dde4;
	border-radius: 3px;	
	width: 100%;
	display: inline-block;
	text-align: center;
}

input#board_name {
	width: calc(100% - 20px);
	vertical-align: middle;
	outline-width: 0;
	border: 0;
	height: 38px;
	text-align: left;
}

/* locationWrite */
.location-write-head-button {
	width: max-content;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.locationWrite-head input {
	border: 0;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	color: white;
}

.locationWrite-head {
	border-bottom: 1px solid #d8dce5;
	padding: 0px 20px 10px 32px;
}

h2#locationCreate-title {
	font-weight: bold;
	display: inline-block;
}

input#save-locationWrite {
	margin-left: 10px;
	background: #eb5d1e;
}

.locationWrite-body {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

div.locationWrite-setting {
	border: 1px solid #e1e1e1;
	background: white;
	border-radius: 5px;
	width: 60%;
	margin-top: 30px;
}

div.locationWrite-setting-head {
	border-bottom: 1px solid #e1e1e1;
}

div.locationWrite-setting-head h3 {
	display: inline-block;
	font-weight: bold;
	color: black;
	font-size: 17px;
	margin: 13px 73px 10px 20px;
}

.locationWrite-setting-body {
	padding: 20px 30px;
}

.locationWrite-body dd {
	margin-left: 190px;
	padding: 10px 22px 10px 0;
}

div.locationWrite-setting-body dt {
	font-size: 14px;
	color: black;
	float: left;
	width: 190px;
	padding: 17px 0;
}


/* teacherWrite */
.teacher-write-head-button {
	width: max-content;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.teacherWrite-head input {
	border: 0;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	color: white;
}

.teacherWrite-head {
	border-bottom: 1px solid #d8dce5;
	padding: 0px 20px 10px 32px;
}

h2#teacherCreate-title {
	font-weight: bold;
	display: inline-block;
}

input#save-teacherWrite {
	margin-left: 10px;
	background: #eb5d1e;
}

.teacherWrite-body {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

div.teacherWrite-setting {
	border: 1px solid #e1e1e1;
	background: white;
	border-radius: 5px;
	width: 60%;
	margin-top: 30px;
}

div.teacherWrite-setting-head {
	border-bottom: 1px solid #e1e1e1;
}

div.teacherWrite-setting-head h3 {
	display: inline-block;
	font-weight: bold;
	color: black;
	font-size: 17px;
	margin: 13px 73px 10px 20px;
}

.teacherWrite-setting-body {
	padding: 20px 30px;
}

.teacherWrite-body dd {
	margin-left: 190px;
	padding: 10px 22px 10px 0;
}

div.teacherWrite-setting-body dt {
	font-size: 14px;
	color: black;
	float: left;
	width: 190px;
	padding: 17px 0;
}

