@charset "UTF-8";
section#mbti{
	margin: 0 auto;
	margin-top: 70px;
	width: 100%;
	height: 700px;
	background-color: #fff9f1;
}
.mbti-div-size{
	width: 1350px;
	margin-left: 300px;
}
#mbti-search-div{
	width: 600px;
	float: right;
}

select[name=searchCondition] {
	height: 40px;
	margin-bottom: 0;
	border: 1px solid #d8dce5;
	border-radius: 6px;
	font-size: 16px;
}

input#mbti-search-area {
	margin-right: 5px;
	flex: none;
	width: 300px;
}

#mbti-title{
	margin:0 auto;
	margin-top: -200px;
	text-align: center;
	width: 100%;
	height: 3000px;
	background-image: url("../../images/mbti_main.jpg");
	background-size: 70%;
	background-position:top;
	background-repeat: no-repeat;
}
#mbti-div {
    margin: 0 auto;
    width: 430px;
    height: 200px;
}
#frm-mbti2{
	margin-top: 230px;
	width: 200px;
	float: left;
}
#frm-mbti1{
	margin-top: 230px;
	width: 200px;
	float: right;
}
.mbti-writer{
	width: 130px;
}
#mbtitb th.mbti-title {
    width: 70%;
    text-align: center;
}
button.mbti-button4{
	background-color: rgb(255, 255, 255);
    border:0;
	border-radius: 5px;
}
button#mbti-search {
	color: #858796;
	border: 1px solid #000000;
	margin-top:0;
    width: 60px;
    font-size: 1em;
    height: 40px;
    padding: 0;
    border-radius: 0.35rem;
}

button.mbti-button{
	background-color: #eb5d1e;
	float: right;
    border:0;
	border-radius: 5px;
	padding: 6px 41px;
	margin-top: -6px;
	margin-right: 9px;
	color: white;
}
button.mbti-button2{
	background-color: #eb5d1e;
	height: 70px;
	width:  200px;
	font-size: 24px;
	font-weight: bold;
    border:0;
	border-radius: 100px;
	padding: 6px 41px;
	margin-top: 450px;
	margin-right: 9px;
	color: white;
}
button.mbti-button3{
	background-color: #eb5d1e;
	height: 60px;
	width:  250px;
	font-size: 28px;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 835px;
    border:0;
	border-radius: 10px;
	padding: 6px 41px;
	color: white;
}
section#mbtiSurvey{
	width: 100%;
	height: 100%;
}
.mbti-survey{
	width: 100%;
	height: 1000px;
	background-image: url("../../images/mbti_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}
.mbti-result{
	width: 100%;
	height: 800px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 100px;
}

.character-type h2{
	margin-left: 300px;
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bold;
}

.personality{
	margin-top: 100px;
}
.personality h2{
	font-size: 50px;
	font-weight: bold;
}
.personality p{
	width: 1300px;
	margin-top: 40px;
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
}
.personality h2, .personality p{
	margin-left: 300px;
}
.mbti-result-top h1{
	padding-top: 250px;
	margin-left: 300px;
	font-size: 80px;
	color: #fff;
}
.mbti-result-top h1 span{
	font-size: 100px;
	font-weight: bold;
}
.inner{
	margin-top: 100px;
	width: 100%;
}
.inner2{
	margin-top: 100px;
	width: 100%;
	height: 100px;
	
}
.inner h2{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	line-height: 100px;
	margin-left: 300px;
}
.inner2 h2{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	line-height: 100px;
	margin-left: 300px;
}
.defining{
	position: relative;
	margin:0 auto;
	margin-top: 100px;
	padding-top: 100px;
	padding-left: 100px;
	width: 1400px;
	padding-bottom:100px;
}
.defining div{
	width: 1200px;
	font-size: 24px;
	color: white;
}
.defining2{
	position: relative;
	margin:0 auto;
	margin-top: 100px;
	width: 1400px;
	padding: 30px;
}
.defining2 h2{ 
	font-size: 50px;
}
.defining2 li{
	font-size: 24px;
}
.defining2 #strength{
	margin:0 auto;
	padding-left: 50px;
	padding-top: 50px;
	width: 1300px;
 	margin-top: 20px;
 	line-height: 50px;
 	font-weight: bold;
 	
}
.defining2 #weakness{
	margin:0 auto;
	padding-left: 50px;
	width: 1300px;
	padding-bottom: 10px;
	margin-top: 20px;
	line-height: 50px;
	font-weight: bold;
	padding-bottom: 50px;
}
#mbti-jop{
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1400px;
	position: relative;
}
#mbti-jop span{
	font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -140px;
    margin-top: -35px;
    display: inline-block;
    width: 280px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    font-weight: bold;
}
#mbti-compatibility{
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 50px;
	width: 1400px;
	height: 600px;
	position: relative;
}
#mbti-compatibility span{
	font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -140px;
    margin-top: -35px;
    display: inline-block;
    width: 280px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    font-weight: bold;
}
#mbti-compatibility #best{
	padding-left: 30px;
	padding-top: 30px;
	width: 500px;
 	float: left;
 	margin-top: 20px;
 	margin-left: 20px;
}
#mbti-dating{
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 50px;
	padding-left: 100px;
	width: 1400px;
	padding-bottom: 50px;
	position: relative;
}
#mbti-dating span{
	font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -140px;
    margin-top: -35px;
    display: inline-block;
    width: 280px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    font-weight: bold;
}
#mbti-dating #mbti-etc{
	padding-left: 30px;
	padding-top: 30px;
	height: 650px;
 	float: left;
 	margin-top: 20px;
 	margin-left: 20px;
}

#mbti-compatibility p:first-of-type{
	font-size: 40px;
    display: inline-block;
    font-weight: bold;
    width: 900px;
}
#mbti-compatibility p:last-of-type{
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
	width: 600px;
	line-height: 60px;
}
#mbti-dating p{
	font-size: 28px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 60px;
}
.mbti-survey p{
	font-size: 26px;
    line-height: 145%;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 30px;
    font-weight: bold;
}

#mbti-jop .mbti-jop{
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 7px;
	color: #fff;
	width: 1200px;
	border-radius: 20px;
	text-align: center;
}
#mbti-jop .mbti-jop p{
	font-size: 26px;
}

.mbti-survey p span{
    color: #003fae;
    font-family: 'GmarketSansBold';
    font-size: 30px;
}
.mbti-survey>div{
	max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding-top: 250px;
    position: relative;
}
.mbti-survey p:nth-of-type(1){
	 position: relative;
}
.mbti-survey p:nth-of-type(2){
	 position: relative;
}
.mbti-survey p:nth-of-type(3){
	 position: relative;
}
.mbti-survey p:nth-of-type(1)::after{
	position: absolute;
    left: 0;
    content: "1.";
    top: 0;
}
.mbti-survey p:nth-of-type(2)::after{
	position: absolute;
    left: 0;
    content: "2.";
    top: 0;
}
.mbti-survey p:nth-of-type(3)::after{
	position: absolute;
    left: 0;
    content: "3.";
    top: 0;
}
.mbti-survey h2{
    font-size: 50px;
    color: #fff;
    line-height: 135%;
    font-family: 'GmarketSansBold';
}
.mbti-survey h2:last-of-type{
	margin-bottom: 50px;
	position: absolute;
    right: 6%;
    top: 50%;
}
.test_btn_style{
	width: 380px;
    height: 71px;
    color: #fff;
    text-align: center;
    background-color: #fe6400;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    transition: all 0.8s;
    position: relative;
    border: none;
    z-index: 1;
}
.test_btn_style.active{
	background-color: #663dff;
}
.MBTI_test0{
    border-top: 5px solid rgb(255, 128, 0);
}

.MBTI_test0, .MBTI_test1, .MBTI_test2, .MBTI_test3, .MBTI_test4, .MBTI_test5, .MBTI_test6, .MBTI_test7, .MBTI_test8, .MBTI_test9 {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    background-color: #fff;
}

.statement{
    border-bottom: 1px solid #eeeeee;
    opacity: 0.2;
    transition: opacity 0.5s;
    overflow: hidden;
    line-height: 95px;
    padding: 45px 25px;
    text-align: center;
	height: 400px;
}

.statement.active {
    opacity: 1;
}

.statement .question {
	height: 60px;
    color: rgb(90, 90, 90);
    font-size: 26px;
    text-align: center;
}
.statement .question h3{
	font-size: 30px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
}
.statement .answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    height: 93px;
}
.statement .option{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
}
.options span:last-of-type {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ff4e4e;
}
.statement.active .options{
	position: relative;
}
.options input[type=radio]:first-of-type{
	width: 100px;
	margin-right: 150px;
}
.options input[type=radio]:not(:first-of-type){
	width: 100px;
	margin-left: 30px;
	margin-right: 100px;
}
.options label {
	text-align: center;
	margin-right: 50px;
    right: 10%;
    top: 50%;
    font-size: 24px;
    color: #06f;
}

.statement.active .options label {
    z-index: 2;
}

.options {
    padding: 15px 10px;
}
.options input[type=radio]{
    display: none;
}
.options input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: 1px solid rgb(255, 128, 0);
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    font-size:20px;
}
.options input[type=radio]+label{
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.options input[type=radio]:checked+label{
    background-color: rgb(255, 128, 0);
    color: #fff;
}


